h1{
    background-color: blueviolet;
    font-size: 90px;
    text-align: center;
    font-family: sans-serif;
}

h2{
    background-color: blue;
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
}